<ion-header>
  <ion-toolbar>
    <ion-title>
      Giao hàng
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button (click)="refreshPage()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- Chọn shipper -->
    <ion-item>
      <ion-label>Shipper</ion-label>
      <ion-select #Shipper [(ngModel)]="shipperNid"(ionChange)="shipperChange($event)" placeholder="Chọn shipper">
        <ion-select-option *ngFor="let item of shippers" [value]="item.nid">{{item.title}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Chọn chuyến -->
    <ion-item>
      <ion-label>Chuyến</ion-label>
      <ion-select #Router [(ngModel)]="routerNid" (ionChange)="routerChange($event)"  placeholder="Chọn chuyến">
        <ion-select-option *ngFor="let item of routers"  [value]="item.nid"> {{ item.title }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- Danh sách đơn hàng -->
  <ion-list #listOrder>
    <ion-list-header>
      Danh sách đơn hàng
    </ion-list-header>
    <ion-item *ngFor="let item of orders" (click)="onOrderClick(item)">
      <ion-label> {{ item.title }}</ion-label>
      <ion-icon *ngIf="checkStatus(item.status) == 0" name="arrow-down"></ion-icon>
      <ion-icon *ngIf="checkStatus(item.status) == 1" name="bicycle"></ion-icon>
      <ion-icon *ngIf="checkStatus(item.status) == 2" name="checkmark-circle"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent>
      <ion-button (click)="showCurrentOrder()" expand="full">Xem đơn hàng đang giao</ion-button>
  </ion-toolbar>
</ion-footer>