<ion-header>
  <ion-toolbar>
    <ion-title>
      Giao hàng
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <!-- Chọn shipper -->
      <ion-item>
        <ion-col style="padding: 0px;">
          <ion-label>Shipper</ion-label>
        </ion-col>
        <ion-col size="9">
          <ion-select
            (ionChange)="shipperChange($event)"
            placeholder="Chọn shipper"
            [value]="shipperNid"
            style="max-width: none;"
          >
            <ion-select-option *ngFor="let item of shippers" [value]="item.nid">
              {{ item.title }}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Ngày</ion-label>
        <ion-datetime
          display-format="DD-MM-YYYY"
          [(ngModel)]="date"
          (ionChange)="getListOrderOfShipper()"
          placeholder="Chọn ngày"
        ></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>
  <!-- Danh sách đơn hàng -->
  <ion-list>
    <ion-list-header>
      Danh sách đơn hàng
    </ion-list-header>
    <ion-item *ngFor="let item of orders" (click)="showOrderDetail(item)">
      <ion-label>
        <p><strong>Nhà hàng :</strong> {{ item.nha_hang.title }}</p>
        <p><strong>Mặt hàng :</strong></p>
        <p *ngFor="let hangGiao of item.hang_giao" style="padding-left: 10px;">
          * {{ hangGiao.name }}, số lượng : {{ hangGiao.delivery_quantity }}
          {{ hangGiao.field_product_unit }}
        </p>
        <p><strong>Trạng thái :</strong> {{ item.field_delivery_status }}</p>
        <p><strong>Ngày giao :</strong> {{ item.field_delivery_date }}</p>

        <ion-button (click)="onGiaoDonClick(item); $event.stopPropagation()">
          <ion-icon slot="start" name="checkmark-circle"></ion-icon> xác nhận
          giao
        </ion-button>

        <ion-button
          (click)="onTraDonClick(item); $event.stopPropagation()"
          color="warning"
        >
          <ion-icon slot="start" name="close"></ion-icon> trả đơn
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
