<ion-header>
  <ion-toolbar>
    <ion-title>
      Chi tiết đơn hàng
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onBtnBackClick()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label text-wrap>
        <ion-text>
          <p>Đơn hàng</p>
        </ion-text>
        <p>{{ data.title }}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="data.field_delivery_shippers">
      <ion-label>
        <ion-text>
          <p>Shipper</p>
        </ion-text>
        <p>{{ data.field_delivery_shippers }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>
          <p>Trạng thái</p>
        </ion-text>
        <p>{{ data.field_delivery_status }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>
          <p>Ngày giao</p>
        </ion-text>
        <p>{{ data.field_delivery_date }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>
          <p>Hàng giao</p>
        </ion-text>
        <p *ngFor="let hangGiao of data.hang_giao" style="padding-left: 10px;">
          * {{ hangGiao.name }}, số lượng : {{ hangGiao.delivery_quantity }}
          {{ hangGiao.field_product_unit }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
